/*
 * # Colors
 */

/* ## black & white */
$white: #fff;
$black: #000;

/* ## Blue */
$trv-maincolor-01: #007fad;
$trv-maincolor-01-lightest: #e5f2f6;
$trv-maincolor-01-very-light: #bfdfea;
$trv-maincolor-01-lighter: #7fbfd6;
$trv-maincolor-01-light: #3f9fc1;
$trv-maincolor-01-dark: #005f81;

/* ## Orange */
$trv-maincolor-02: #f48f00;
$trv-maincolor-02-lightest: #fdf3e5;
$trv-maincolor-02-very-light: #fce3bf;
$trv-maincolor-02-lighter: #f9c77f;
$trv-maincolor-02-light: #f6ab3f;
$trv-maincolor-02-dark: #b76b00;

/* ## Red */
$trv-maincolor-03: #c94a30;
$trv-maincolor-03-lightest: #f9ecea;
$trv-maincolor-03-very-light: #f1d1cb;
$trv-maincolor-03-lighter: #e4a497;
$trv-maincolor-03-light: #d67763;
$trv-maincolor-03-dark: #963724;

/* ## Juri Blue */
$trv-maincolor-04: #37454d;
$trv-maincolor-04-lightest: #ebeced;
$trv-maincolor-04-very-light: #cdd0d2;
$trv-maincolor-04-lighter: #9ba2a6;
$trv-maincolor-04-light: #697379;
$trv-maincolor-04-dark: #293339;

/* ## Green */
$trv-maincolor-05: #66a400;
$trv-maincolor-05-lightest: #eff5e5;
$trv-maincolor-05-very-light: #d8e8bf;
$trv-maincolor-05-lighter: #b2d17f;
$trv-maincolor-05-light: #8cba3f;
$trv-maincolor-05-dark: #4c7b00;