.legend {
    float: left; /* fixes boxmodel-bug */
    display: block;
    width: 100%;
    padding: 0;
    margin: $gutter 0;
    line-height: inherit;
    border: 0;

    &:after {
        content: '';
        clear: left;
    }
}

.input-text,
.input-search,
.input-password,
.input-email,
.input-number,
.input-number,
.input-url {
    width: 100%;
    color: $text;
    line-height: 18px; /* fixed px line-height for consistent look across all browsers */
}

.input-password-wrapper {
    .input-password {
        @include padding-trailing(70px);
    }
}

.textarea {
    resize: vertical; /* Allow only vertical resizing of textareas */
    @extend .input-text;
    height: auto;
    min-height: 130px;
}

.select {
    box-sizing: border-box;
    @extend .input-text;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal;
}

/* ## Selects with icons */
.select-icon-wrapper {
    position: relative;
    z-index: auto;
    line-height: 1;

    .select-icon {
        position: relative;
        z-index: 2;
        @include padding-leading(44px);
    }
}

.icon {
    position: absolute;
    top: 16px;
    z-index: 1; /* z-index lower than select's z-index to prevent non-clickable area. */
    display: block;
    width: 20px;
    height: 11px;

    &.icon-flag {
        @include position-value(leading, 14px);
        /* Only an image for testing purposes! */
        background-image: url($icon-countryflags-2x);
        background-repeat: no-repeat;
        background-position: 0 -30px;
        background-size: 20px auto;
    }

    /* IE8 */
    .no-backgroundsize &.icon-flag {
        background-image: url($icon-countryflags);
    }

    &.icon-currency {
        top: 17px;
        @include position-value(leading, 10px);
        width: 36px;
        height: auto;
        text-align: center;
        font-weight: bold;
        color: $white;
        @include rem(font-size, 12px);
    }
}


/* ## Selects with additional 2 buttons */
.select-table-layout {
    display: table;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    .select-icon-wrapper {
        display: table-cell;
        vertical-align: top;
        width: 100%;
    }
}


.abbr-btn {
    display: table-cell;
    @include padding-leading($gutter-half);

    &:first-of-type {
        @include padding-leading($gutter-three-quaters);
    }

    .btn {
        width: auto;
    }
}

/* ## Valid */
.is-valid {
    @include padding-trailing(40px);
    background-position: $trailing 7px top 50%;

    /* IE8 */
    .no-flexbox & {
        background-position: right center;
    }
}

/* ## Errors */
.is-error {
    border-color: $trv-maincolor-03;
    @include background-rgba($trv-maincolor-03, $opacity: 0.05);
}

/* ## Progressbars pt. I */
.is-progress {
    @include padding-trailing(70px);
}

/* ## Progressbars pt. II */
.progresswrapper {
    top: 21px;
    @include position-value(trailing, 12px);
    width: 44px;
    height: 4px;
    background: $trv-maincolor-04-very-light;
    line-height: 1;

    .progress {
        height: 4px;
        @include transition(width .25s ease-out);

        &.percentage-25 {
            width: 25%;
            background: $trv-maincolor-02;
        }

        &.percentage-50 {
            width: 50%;
            background: $trv-maincolor-05-light;
        }

        &.percentage-75 {
            width: 75%;
            background: $trv-maincolor-05;
        }

        &.percentage-100 {
            width: 100%;
            background: $trv-maincolor-05;
        }
    }
}

/* ## Label */
.labelwrapper {
    @include padding-trailing(20px);
}

.label {
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    margin-bottom: 2px;
    @include rem(font-size, 14px);
    font-weight: bold;

    .small {
        font-weight: normal;
    }
}

/* ## Tooltips on hover */
.tooltipwrapper {
    @include position-value(trailing, 0);
    bottom: 2px;
    z-index: 2;
    @include rem(font-size, 12px);
    font-weight: bold;
    color: $trv-maincolor-04-very-light;

    @include link-pseudos-hover {
        cursor: pointer;

        .tooltip {
            display: block;
        }
    }

    .tooltip {
        display: none; /* only visible on hover */
        @include position-value(trailing, -10px);
        bottom: 24px;
        z-index: 3;
        width: 200px;
        padding: 5px 9px;
        background: $trv-maincolor-04-dark;
        @include rem(font-size, 12px);
        font-weight: normal;
        color: $white;
        border-radius: $border-radius;

        &:after {
            @include position-value(trailing, 15px);
            bottom: -5px;
            display: block;
            @include transform(rotate(45deg));
            width: 10px;
            height: 10px;
            background: $trv-maincolor-04-dark;
        }
    }
}

/* ## Formfield hint */
.hint-formfield {
    margin-top: -9px;
    color: $trv-maincolor-04-lighter;
}

/* ## Error hint */
.error-hint {
    position: relative;
    z-index: 2;
    margin-top: -8px;
    padding: $gutter $gutter 1px;
    @include padding-leading(40px);
    box-shadow: $box-shadow-01;
    background-color: $white;
    background-position: 8px 12px;

    .block {
        padding-bottom: $gutter-half;
        font-weight: normal;
    }

    &:after {
        @include position-value(leading, 15px);
        top: -5px;
        z-index: 3;
        display: block;
        @include transform(rotate(45deg));
        width: 12px;
        height: 12px;
        background: $white;
        box-shadow: $box-shadow-01;
    }

    &:before {
        top: 0;
        z-index: 4;
        @include position-value(leading, 12px);
        width: 18px;
        height: 12px;
        background: $white;
    }
}

/* ## Checkboxes and Radiobuttons */
.checkbox-container,
.radio-container {
    @extend .select-table-layout;
    vertical-align: top; /* Webkit */

    .label {
        display: table-cell;
        width: 100%;
        font-weight: normal;
    }
}

.checkbox,
.radio {
    display: table-cell;
    vertical-align: top; /* Webkit */
    margin: 0;
    margin-top: 3px;
    @include margin-trailing($gutter-three-quaters);
    line-height: normal;
    width: auto;
    border: 0; /* IE8 */
}

/* ## General class for buttons in input fields */
.input-btn {
    position: absolute;
    top: 1px;
    z-index: 1;
    display: block;
    width: $input-height - 2px;
    height: $input-height - 2px;
    @include position-value(trailing, 1px);
    background-position: center center !important;
    border: 0;
}
/* ### Extra class for input[type=text] with integrated buttons */
body {
    .input-text-search {
        @include padding-trailing(50px);
    }
}

/* ## Input type file */
/* ### Remove everything for ie8 */

.ie8 {
    .input-file-fake,
    .input-file-btn,
    .input-file-btn-select,
    .input-file-progress,
    .input-file-success,
    .input-file-fail,
    .input-file-btn-trash {
        display: none !important;
    }
}

.input-file {
    z-index: 2;
    max-width: 100%;
    height: $input-height;
    opacity: 0;
}

.input-file-fake {
    top: 0;
    z-index: 1;
}


/* ### Input type file :: Upload stati */
.input-file-progress {
    @include position-value(trailing, 50px);
}

.input-file-success,
.input-file-fail {
    top: 10px;
    @include position-value(trailing, 48px);
    width: 24px;
    height: 24px;
}

.input-file-btn-trash {
    z-index: 3;
    @include position-value(trailing, $input-height - 2px);
}


/* ## Inverted Formelements */
.inverted {
    color: $white;
    border: 1px solid $white;
    background-color: $trv-maincolor-04;

    @include placeholder {
        color: $trv-maincolor-04-lighter;
        font-weight: normal;
    }

    &.label,
    &.hint-required,
    &.legend {
        border: 0;
        background-color: transparent;
    }

    .inverted-option {
        color: $black;
        background-color: $white; /* for visibility in different browsers on different os. */
    }
}

/*
 * Inverted .select-icon does not have a background-color because the icon itself
 * is positioned under it z-index-wise. It has to be lower because otherwise this
 * part of the select-element is not clickable anymore.
 */

.select-icon-wrapper {
    &.wrapper-inverted {
        position: relative;
        background-color: transparent;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            z-index: 0; /* z-index lower than the z-index of ".icon" to make .icon visible */
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            background: $trv-maincolor-04;
        }
    }

    .inverted {
        background-color: transparent;
    }
}

.inverted-form {
    overflow: hidden;
    margin-bottom: 0;
    background-color: $trv-maincolor-04;
}

/*
 * # Switch - radiobuttons as switches
 */
.switch {
    margin-top: -8px;
}

/* ## Switch - label as slider bar */
.switch__label {
    position: relative;
    display: block;
    width: 47px;
    height: 26px;

    .ie8 & {
        display: none;
    }
}

/* ## Switch - slider bar */
.switch__sliderbar {
    display: block;
    width: 100%;
    height: 28px;
    cursor: pointer;
    background: $trv-maincolor-04-very-light;
    border-radius: 26px;
    @include transition(background .5s ease);
}

/* ## Switch - slider button */
.switch__sliderbutton {
    position: absolute;
    top: 2px;
    @include position-value(leading, 2px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $white;
    @include transition(all .5s ease);
}

/* ## Switch - checkbox: trigger :checked status */
.switch__checkbox {
    visibility: hidden;

    .ie8 & {
        visibility: visible;
    }

    &:checked + .switch__label {

        .switch__sliderbar {
            background: $trv-maincolor-01-light;
        }

        .switch__sliderbutton {
            @include position-value(leading, 21px);
        }
    }
}
