/* # Grid Styles */
/* ## Clearfix Rows */

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    margin-left: -$gutter-half;
    margin-right: -$gutter-half;

    &.row-quarter {
        margin-left: -$gutter-eighth;
        margin-right: -$gutter-eighth;
    }

    .footer & {
        margin-left: 0;
        margin-right: 0;
    }
}

/* ## Columns and Gutters */
.col {
    @include float(leading);
    padding-left: $gutter-half;
    padding-right: $gutter-half;

    .row-quarter > & {
        padding-left: $gutter-eighth;
        padding-right: $gutter-eighth;
    }

    .footer & {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.last-col {
    float: none;
    width: auto;
}

/* ## Grid clearfix */


/* ## Grid values */
.g-1of1 { width: 100%; }
.g-1of2 { width: 50%; }
.g-1of3 { width: 33.33333%; }
.g-2of3 { width: 66.66666%; }
.g-1of4 { width: 25%; }
.g-3of4 { width: 75%; }
.g-1of5 { width: 20%; }
.g-2of5 { width: 40%; }
.g-3of5 { width: 60%; }
.g-4of5 { width: 80%; }
.g-1of6 { width: 16.66666%; }
.g-4of6 { width: 66.66666%; }
.g-5of6 { width: 83.33333%; }

.g-offset-1of2 { margin-left: 50%; }
.g-offset-2of3 { margin-left: 66.66666%; }
.g-offset-1of3 { margin-left: 33.33333%; }
.g-offset-3of4 { margin-left: 75%; }
.g-offset-1of4 { margin-left: 25%; }
.g-offset-4of5 { margin-left: 80%; }
.g-offset-3of5 { margin-left: 60%; }
.g-offset-2of5 { margin-left: 40%; }
.g-offset-1of5 { margin-left: 20%; }
.g-offset-5of6 { margin-left: 83.33333%; }
.g-offset-2of6 { margin-left: 33.33333%; }
.g-offset-1of6 { margin-left: 16.66666%; }


/* ## Grid values at breakpoints */

@include respond-to(screen-small) {
    .g-block {display: none !important;}
    .g1-block {
        display: block !important;
    }
    .g1-1of1 { width: 100%; }
    .g1-1of2 { width: 50%; }
    .g1-1of3 { width: 33.33333%; }
    .g1-2of3 { width: 66.66666%; }
    .g1-1of4 { width: 25%; }
    .g1-3of4 { width: 75%; }
    .g1-1of5 { width: 20%; }
    .g1-2of5 { width: 40%; }
    .g1-3of5 { width: 60%; }
    .g1-4of5 { width: 80%; }
    .g1-1of6 { width: 16.66666%; }
    .g1-4of6 { width: 66.66666%; }
    .g1-5of6 { width: 83.33333%; }

    .g1-offset-1of2 { margin-left: 50%; }
    .g1-offset-2of3 { margin-left: 66.66666%; }
    .g1-offset-1of3 { margin-left: 33.33333%; }
    .g1-offset-3of4 { margin-left: 75%; }
    .g1-offset-1of4 { margin-left: 25%; }
    .g1-offset-4of5 { margin-left: 80%; }
    .g1-offset-3of5 { margin-left: 60%; }
    .g1-offset-2of5 { margin-left: 40%; }
    .g1-offset-1of5 { margin-left: 20%; }
    .g1-offset-5of6 { margin-left: 83.33333%; }
    .g1-offset-2of6 { margin-left: 33.33333%; }
    .g1-offset-1of6 { margin-left: 16.66666%; }

}

@include respond-to(screen-medium) {
    .g-block, .g1-block {display: none !important;}
    .g2-block {
        display: block !important;
    }
    .g2-1of1 { width: 100%; }
    .g2-1of2 { width: 50%; }
    .g2-1of3 { width: 33.33333%; }
    .g2-2of3 { width: 66.66666%; }
    .g2-1of4 { width: 25%; }
    .g2-3of4 { width: 75%; }
    .g2-1of5 { width: 20%; }
    .g2-2of5 { width: 40%; }
    .g2-3of5 { width: 60%; }
    .g2-4of5 { width: 80%; }
    .g2-1of6 { width: 16.66666%; }
    .g2-4of6 { width: 66.66666%; }
    .g2-5of6 { width: 83.33333%; }

    .g2-offset-1of2 { margin-left: 50%; }
    .g2-offset-2of3 { margin-left: 66.66666%; }
    .g2-offset-1of3 { margin-left: 33.33333%; }
    .g2-offset-3of4 { margin-left: 75%; }
    .g2-offset-1of4 { margin-left: 25%; }
    .g2-offset-4of5 { margin-left: 80%; }
    .g2-offset-3of5 { margin-left: 60%; }
    .g2-offset-2of5 { margin-left: 40%; }
    .g2-offset-1of5 { margin-left: 20%; }
    .g2-offset-5of6 { margin-left: 83.33333%; }
    .g2-offset-2of6 { margin-left: 33.33333%; }
    .g2-offset-1of6 { margin-left: 16.66666%; }

}

@include respond-to(screen-large) {
    .g-block, .g1-block, .g2-block {display: none !important;}
    .g3-block {
        display: block !important;
    }
    .g3-1of1 { width: 100%; }
    .g3-1of2 { width: 50%; }
    .g3-1of3 { width: 33.33333%; }
    .g3-2of3 { width: 66.66666%; }
    .g3-1of4 { width: 25%; }
    .g3-3of4 { width: 75%; }
    .g3-1of5 { width: 20%; }
    .g3-2of5 { width: 40%; }
    .g3-3of5 { width: 60%; }
    .g3-4of5 { width: 80%; }
    .g3-1of6 { width: 16.66666%; }
    .g3-4of6 { width: 66.66666%; }
    .g3-5of6 { width: 83.33333%; }

    .g3-offset-1of2 { margin-left: 50%; }
    .g3-offset-2of3 { margin-left: 66.66666%; }
    .g3-offset-1of3 { margin-left: 33.33333%; }
    .g3-offset-3of4 { margin-left: 75%; }
    .g3-offset-1of4 { margin-left: 25%; }
    .g3-offset-4of5 { margin-left: 80%; }
    .g3-offset-3of5 { margin-left: 60%; }
    .g3-offset-2of5 { margin-left: 40%; }
    .g3-offset-1of5 { margin-left: 20%; }
    .g3-offset-5of6 { margin-left: 83.33333%; }
    .g3-offset-2of6 { margin-left: 33.33333%; }
    .g3-offset-1of6 { margin-left: 16.66666%; }
}

